    @font-face 
    {
        font-family: 'PlayfairDisplay-VariableFont_wght';
        src: url('font/PlayfairDisplay-VariableFont_wght.ttf'); 
    }
     
    html, body
    {
    	box-sizing: content-box;
    	height: 100%;
    	width: 100%;
    	font-family: 'PlayfairDisplay-VariableFont_wght' !important; 
    	font-size: 1.1rem;
    	color: #3c4135 !important;
    }
     
    main
    {
    	margin: 20px;
    	line-height: 2rem;
    }
     
    a
    {
    	text-decoration: none;
    }
     
     
    /*NAVBAR*/
    nav .navbar
    {
    	box-sizing: content-box;
    	max-width: 100%;
    }
     
    .logo
    {
    	height: 30px;
    }
     
    /*"INTROS"*/
    .intro
    {
    	width: 100%;
    	text-align: center;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    }
     
    .intro>p
    {
    	font-size: 1.2rem;
    }
     
    .intro>h2
    {
    	font-size: 2.7rem;
    }
     
    .banner
    {
    	height: 500px;
    }
     
    /*BlOC FEATURES */
    .featureContainer
    {
    	height: 100%;
    	width: 100%;
    	display: flex;
    	flex-direction: row;
    	justify-content: space-around;
    }
     
    .blocexemple
    {
    	height: 100%;
    	width: 30%;
    	padding: 20px;
    	font-size: 0.85rem !important;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
    	align-items: center;
    	-webkit-box-shadow: 0px 1px 15px -3px #A7A7A7; 
    	box-shadow: 0px 1px 15px -3px #A7A7A7;
    }
     
    .img-pix
    {
    	box-sizing: content-box;
    	width: 100%;
    	height: 173px;
    }
     
    .img-pix img
    {
    	box-sizing: content-box;
    	width: 100%;
    	height: 100%;
    }
     
    .featureContainer h4
    {
    	margin-top: 10px;
    }
    /*FIN BLOC FEATURES */
     
    /*ICONES*/
     
    .icones
    {
    	box-shadow: none;
    }
     
    .roundpix
    {
    	object-fit: contain;
    	height: 160px;
    }
     
    .icones img
    {	
    	background-clip: content-box;
    	border-radius: 100%;
        height: 173px;
        width: 173px;
    }
     
    .icones:hover
    {
    	transition: 0.2s;
    	cursor: pointer;
    	color: #007bff;
    }
     
    .appear
    {
    	opacity: 0;
    }
     
    /*ANIMATION JS*/
    #exemple-un
    {
    	opacity: 0;
    }
     
    #exemple-trois
    {
    	opacity: 0;
    }
     
    /*FORM*/
    form
    {
    	width: 60%;
    }
     
    /*FOOTER*/
    footer
    {
    	height: 10%;
    	padding: 20px;
    	color: white;
    	display: flex;
    	justify-content: space-between;
            align-items: center;
    }
     
    footer .svg a svg
    {
    	height: 30px;
    	color:white;
    }
     
    /*CLASSES DE POSITIONNEMENT*/
    .spaced
    {
    	margin-left: 10px;
    	margin-right: 10px;
    }
     
    .spaced-y
    {
    	margin-top: 20px;
    	margin-bottom: 20px;
    }
     
    .spacedy-sup
    {
    	margin-top: 40px;
    	margin-bottom: 40px;
    }
     
    .bigspacedy
    {
    	margin-top: 80px;
    	margin-bottom: 80px;
    }
     
    .rowcss
    {
    	width: 100%;
    	display: flex;
    	flex-direction: row;
    }
     
    .rowdiv
    {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    }
     
    .column
    {
    	display: flex;
    	flex-direction: column;
    }
     
    .flexcenter
    {
    	display: flex;
    	align-items: center;
    	justify-content: space-around;
    	text-align: center;
    }
     
    .flexcenterbw
    {
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	text-align: center;
    }
     
    .centered
    {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    }
     
    .pointer
    {
    	cursor: pointer;
    }
     
    button:hover
    {
    	transition: box-shadow .2s ease;
    	transform: translateY(-1px);
    	box-shadow: 0 4px 10px rgba(50,50,93,.226),0 1px 3px rgba(0,0,0,.08);
    }

    .nicebannerdeux
    {
        display: none;
    }